.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock {
  position: relative;
  width: 410px;
  height: 410px;
  border: 2px solid gray;
  border-radius: 50%;
}

.center {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 2px solid black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  width: 2px;
  left: 50%;
  background-color: black;
  transform-origin: bottom;
  transform: translate(-50%);
}

.hour {
  width: 10px;
  height: 40%;
}

.minute {
  height: 45%;
  width: 5px;
  top: 5%;
}

.second {
  height: 50%;
  width: 2px;
}

.hour-marker {
  position: absolute;
  width: 4px;
  height: 20px;
  background: black;
  top: 48%;
  left: 48%;
  transform-origin: bottom;
}

.minute-marker {
  position: absolute;
  width: 2px;
  height: 10px;
  background: black;
  top: 48%;
  left: 48%;
  transform-origin: bottom;
}

.minute-marker.hour {
  height: 20px;
  width: 4px;
}